/* Krona One */
@font-face {
  font-family: 'Krona One';
  src: url('../public/fonts/KronaOne-Regular.ttf') format('truetype'),
       url('../public/fonts/KronaOne-Regular.woff2') format('woff2'),
       url('../public/fonts/KronaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* PROXIMA NOVA Bold */
@font-face {
  font-family: 'PROXIMA NOVA Bold';
  src: url('../public/fonts/PROXIMANOVA-BOLD.woff2') format('woff2'),
       url('../public/fonts/PROXIMANOVA-BOLD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* PROXIMA NOVA Semibold */
@font-face {
  font-family: 'PROXIMA NOVA Semibold';
  src: url('../public/fonts/PROXIMANOVA-SEMIBOLD.woff2') format('woff2'),
       url('../public/fonts/PROXIMANOVA-SEMIBOLD.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Readex Pro Medium */
@font-face {
  font-family: 'Readex Pro Medium';
  src: url('../public/fonts/ReadexPro-Medium.woff2') format('woff2'),
       url('../public/fonts/ReadexPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: white;
  font-weight: bold;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
  font-weight: normal;
  font-family: 'Krona One', sans-serif;
  font-size: 35px;
}



.tournament-table {
  border-radius: 16px;
  overflow: hidden;
  margin-top: 20px;
  padding: 0 30px;
}

.table-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  color: #888;
  margin-bottom: 15px;
  border-radius: 16px;
  font-weight: bold;
  font-family: 'Readex Pro', sans-serif;
  font-size: 25px;
}

.family-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  margin-bottom: 15px;
  background: #1e1e1e;
  border-radius: 16px;
  margin-left: 10px;
  margin-right: 20px;
}

.family-row:last-child {
  margin-bottom: 0;
}

.amount {
  text-align: right;
  color: #9C9C9C;
  padding-right: 10px;
  font-size: 20px;        /* Размер 30px */
  font-family: 'PROXIMA NOVA Semibold', sans-serif;  /* Применяем semibold */
  font-weight: 600;      /*  Убеждаемся, что шрифт отображается semibold */
}

.family-name {
  padding-left: 10px;
  color: #FFFFFF;
  font-size: 20px;        /* Размер 28px */
  font-family: 'PROXIMA NOVA Bold', sans-serif;  /* Применяем жирное начертание */
  font-weight: bold;      /* Убеждаемся, что шрифт отображается жирным */
}

.headeramount1 {
  color: #9C9C9C;
  padding-left: 15px;
  font-size: 20px;
  font-family: 'Readex Pro Medium', sans-serif;
  font-weight: 500;
}

.headeramount2 {
  padding-left: 148px;
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Readex Pro Medium', sans-serif;
  font-weight: 500;
}

.amount .currency {
  font-size: 20px;
  color: #69F129;
}


.actions {
  display: flex;
  background: #1e1e1e;
  margin-left: 25px;
}

button {
  padding: 5px 10px;
  background: #333;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #444;
}

.add-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  background: #333;
  border: 1px solid #444;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.bulk-add {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.bulk-add textarea {
  flex: 1;
  min-height: 100px;
}

.bulk-add-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.logo {
  width: 230px;
  height: 45px;
}

.screenshot-button-container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  padding: 20px;
}

.screenshot-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.screenshot-button-container button:hover {
  background: #444;
}
