/* Krona One */
@font-face {
  font-family: 'Krona One';
  src: url('../public/fonts/KronaOne-Regular.ttf') format('truetype'),
       url('../public/fonts/KronaOne-Regular.woff2') format('woff2'),
       url('../public/fonts/KronaOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* PROXIMA NOVA Bold */
@font-face {
  font-family: 'PROXIMA NOVA Bold';
  src: url('../public/fonts/PROXIMANOVA-BOLD.woff2') format('woff2'),
       url('../public/fonts/PROXIMANOVA-BOLD.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* PROXIMA NOVA Semibold */
@font-face {
  font-family: 'PROXIMA NOVA Semibold';
  src: url('../public/fonts/PROXIMANOVA-SEMIBOLD.woff2') format('woff2'),
       url('../public/fonts/PROXIMANOVA-SEMIBOLD.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Readex Pro Medium */
@font-face {
  font-family: 'Readex Pro Medium';
  src: url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');
  font-weight: 500;
  font-style: normal;
}


body {
  margin: 0;
  background: #121212;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: white;
  font-weight: bold;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
  font-weight: normal;
  font-family: 'Krona One', sans-serif;
  font-size: 35px;
}



.tournament-table {
  border-radius: 16px;
  overflow: hidden;
  margin-top: 20px;
  padding: 0;
}

.table-header {
  display: grid;
  padding: 15px 0;
  color: #888;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: 'Readex Pro', sans-serif;
  font-size: 20px;
}

.pubg-header {
  grid-template-columns: 80px 1fr 250px;
  padding: 0 15px;
}

.default-header {
  grid-template-columns: 2fr 1fr;
}

.family-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
  margin-bottom: 15px;
  background: #1e1e1e;
  border-radius: 16px;
  margin-left: 0;
  margin-right: 0;
}

.family-row:last-child {
  margin-bottom: 0;
}

.amount {
  text-align: right;
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.family-row:not(.pubg-row) .amount {
  padding-right: 15px;
}

.pubg-row .amount {
  padding-right: 10px;
}

.family-name {
  padding-left: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.headeramount1 {
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.headeramount2 {
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.currency {
  font-size: 20px;
  color: #69F129;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  margin-left: 6px;
  display: inline-flex;
  align-items: center;
}

.amount .currency {
  margin-left: 6px;
}

.actions {
  display: flex;
  background: #1e1e1e;
  margin-left: 25px;
}

button {
  padding: 5px 10px;
  background: #333;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #444;
}

.add-form {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  background: #333;
  border: 1px solid #444;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.bulk-add {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.bulk-add textarea {
  flex: 1;
  min-height: 100px;
}

.bulk-add-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.logo {
  width: 230px;
  height: 45px;
}

.screenshot-button-container {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  padding: 20px;
}

.screenshot-button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.screenshot-button-container button:hover {
  background: #444;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        background: #0a377e;
        margin: 0;
    }

.pubg-row {
  display: grid;
  grid-template-columns: 80px 1fr 250px;
  gap: 0;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  background: #1e1e1e;
  border-radius: 16px;
}

.place-column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.place-icon {
    width: 32px;
    height: 32px;
}

.coin-logo {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    transform: translateY(3px);
}

.pubg-amount-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}

.pubg-bonus-amount {
  display: inline-flex;
  align-items: center;
  transform: translateY(1px);
  margin-right: 4px;
}

.pubg-amount-input {
  background: transparent;
  border: none;
  color: #9C9C9C;
  width: 82px;
  text-align: right;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  padding: 0;
  margin-left: 4px;
  display: flex;
  align-items: center;
  transform: translateY(3px);
}

.pubg-team-input {
  background: transparent;
  border: none;
  color: inherit;
  width: 100%;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  padding-left: 0;
  transform: translateY(3px);
}

.pubg-currency {
  font-size: 20px;
  color: #69F129;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  margin-left: 6px;
  display: inline-flex;
  align-items: center;
}
.pubg-plus-sign {
  color: #9C9C9C;
  font-size: 20px;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  margin: 0; /* Убираем отступы */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  transform: translateY(-1px); /* Поднимаем элемент на 2 пикселя выше */
}
.pubg-header-place {
  text-align: center;
  padding-left: 0;
}

.pubg-header-team {
  padding-left: 15px;
}

.pubg-header-amount {
  text-align: right;
  padding-right: 15px;
}

.default-header-team {
  padding-left: 15px;
}

.default-header-amount {
  text-align: right;
  padding-right: 15px;
}

.main-title {
  font-family: 'Krona One', sans-serif;
}

.family-row:not(.pubg-row) .family-name {
  padding-left: 15px;
}
